body {
    margin: 0;

}

.donate-now {
    text-align: center;
    background-image: url(./images/flood.jpg);
    background-size: cover;
    background-position: center;
    height: 670px;
    color: white;
    margin-bottom: 113px;


}

.help-people {
    position: absolute;
    top: 29%;
    padding-left: 15%;
    padding-right: 10%;


}

.help-people p {
    padding-left: 10%;
    padding-right: 10%;

}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(tomato, crimson);
    color: white;
    font-weight: 700;
}


body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
}

.amount li {
    display: inline-block;
    background-color: rgba(245, 241, 241, 0.623);


    padding: 30px 20px;

    margin-top: 10px;
    color: dimgray;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 1%;
    margin-left: 1%;



}

.amount {
    margin-left: 15%;
}

.donate-today {
    margin-bottom: 113px;

}

.amount-taka {
    color: gray;
    font-weight: 550;
    text-align: center;
}

.amount-taka hr {
    width: 70%;
    margin-left: 15%;

}


.support {
    text-align: center;
    padding-left: 150px;
    padding-right: 100px;
}

.support p {
    color: dimgray;
    padding-left: 12%;
    padding-right: 12%;
}

h2 {
    font-size: 30px;
}

#red {
    color: crimson;
    border: 2px solid crimson;
    background-color: rgba(243, 209, 216, 0.897);


}


.flexible-container {
    display: flex;
    margin-bottom: 113px;
}

.benefits {
    width: 25%;
    padding: 3% 3% 1% 2%;

    margin-left: 3%;
    font-size: small;
    box-shadow: 10px 5px 10px gray;

}

.benefits p {
    color: dimgray;
}

#food {
    background-color: rgba(213, 247, 252, 0.507);
}

#shelter {
    background-color: rgba(247, 220, 230, 0.404);
}

#education {
    background-color: rgba(255, 235, 205, 0.61)
}

.donate-plan {
    margin-bottom: 117px;
}

.container {
    width: 55%;
    padding: 5% 7%;
    margin: 3%;
    margin-left: 25%;
    display: flex;
    color: dimgray;
    box-sizing: border-box;
    background-color: rgba(253, 233, 209, 0.822);


}

input[type=submit] {
    background-color: rgb(247, 81, 114);
    color: white;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

input[type=submit]:hover {
    opacity: 0.8;
}

input[type=email] {
    background-color: rgb(209, 198, 200);
    color: white;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

input[type=email]:hover {
    opacity: 0.8;
}

.extra-part {
    margin-bottom: 113px;
}

#humble {
    font-family: 'Lobster', cursive;
    color: rgb(209, 79, 79);
    font-size: 25px;
    font-weight: 400;
}

.foot {
    text-align: center;
    background-color: black;
    color: lightgray;
    font-size: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}